<a href="https://colab.research.google.com/github/Syedriyaz13/PPML/blob/main/230901107(pandas2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original DataFrame:\n",info)
print("\n squareroot of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [ ]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print("\n original DataFrame:\n",info)
print("\n minimum and maximum of each column:\n")
print(info.agg(['min','max']))

 original DataFrame:
    x  y  z
0  2  4  6
1  1  3  5
2  5  8  7

 minimum and maximum of each column:

     x  y  z
min  1  3  5
max  5  8  7

In [ ]:
print("\n DataFrame.Assign function:\n")
d2=pd.DataFrame([['syed',88],['riyaz',70]])
columns=(['Emp','Id'])
print("\n original DataFrame:\n",d2)
d2['Age']=[20,18]
print("\n Adding new column:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n Adding new column:\n",d)

 DataFrame.Assign function:


 original DataFrame:
        0   1
0   syed  88
1  riyaz  70

 Adding new column:
        0   1  Age
0   syed  88   20
1  riyaz  70   18

 Adding new column:
        0   1  Age   sex
0   syed  88   20  Male
1  riyaz  70   18  Male

In [ ]:
print("\n DataFrame sort Function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n sort index:\n",info2)
info3=info.sort_values(by='A')
print("\n sort values:\n",info3)

 DataFrame sort Function:

          A         B
3 -0.886823  0.163797
2 -0.143533  0.646661
0  0.746276  0.330387
4  2.312432  0.038295
1 -0.786793  0.219998

 sort index:
           A         B
0  0.746276  0.330387
1 -0.786793  0.219998
2 -0.143533  0.646661
3 -0.886823  0.163797
4  2.312432  0.038295

 sort values:
           A         B
3 -0.886823  0.163797
1 -0.786793  0.219998
2 -0.143533  0.646661
0  0.746276  0.330387
4  2.312432  0.038295

In [ ]:
print("\n DataFrame Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4],'name':['sam','yash','ram','raja'],'sub':['sub 1','sub 2','sub 3','sub 4']})
right=pd.DataFrame({'id':[1,2,3,4],'name':['ram','sam','akshai','babu'],'sub':['sub 1','sub 4','sub 3','sub 2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

 DataFrame Merge function:

   id  name    sub
0   1   sam  sub 1
1   2  yash  sub 2
2   3   ram  sub 3
3   4  raja  sub 4
   id    name    sub
0   1     ram  sub 1
1   2     sam  sub 4
2   3  akshai  sub 3
3   4    babu  sub 2
   id name_x  sub_x  name_y  sub_y
0   1    sam  sub 1     ram  sub 1
1   2   yash  sub 2     sam  sub 4
2   3    ram  sub 3  akshai  sub 3
3   4   raja  sub 4    babu  sub 2