In [4]:
import pandas as pd
car_selling_data={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],
                  'year':[2010,2011,2009,2013,2010,2011,2011,2010,2013,2010,2010,2011],
                  'sold':[6,7,8,9,3,5,2,8,7,2,4,2]}
df=pd.DataFrame(car_selling_data)
print("\n original DataFrame:\n",df)
grouped=df.groupby('year')
print("\n Group by year:\n",grouped.get_group(2010))

 original DataFrame:
        Brand  year  sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     8
3     Maruti  2013     9
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

 Group by year:
        Brand  year  sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [6]:
student_data={'Name':['ram','Mano','kio','rio','syed','riyaz','ash','Mahi','afridi','dil'],
              'Roll_no':[20,25,20,32,69,32,20,35,69,17],
              'Email':['ram@gmail.com','mano@gmail.com','kio@gmail.com','rio@gmail.com','syed@gmail.com','riyaz@gmail.com','ash@gmail.com','mahi@gmail.com','afridi@gmail.com','dil@gmail.com',]}
df=pd.DataFrame(student_data)
print("\n original DataFrame:\n",df)

 original DataFrame:
      Name  Roll_no             Email
0     ram       20     ram@gmail.com
1    Mano       25    mano@gmail.com
2     kio       20     kio@gmail.com
3     rio       32     rio@gmail.com
4    syed       69    syed@gmail.com
5   riyaz       32   riyaz@gmail.com
6     ash       20     ash@gmail.com
7    Mahi       35    mahi@gmail.com
8  afridi       69  afridi@gmail.com
9     dil       17     dil@gmail.com

In [8]:
non_duplicate=df[df.duplicated('Roll_no')]
print("\n Removed duplicate rows:\n",non_duplicate)

 Removed duplicate rows:
      Name  Roll_no             Email
2     kio       20     kio@gmail.com
5   riyaz       32   riyaz@gmail.com
6     ash       20     ash@gmail.com
8  afridi       69  afridi@gmail.com

In [12]:
details=pd.DataFrame({'ID':[101,102,103,104,105,106,107,108,109,110],'Name':['ram','Mano','kio','rio','syed','riyaz','ash','Mahi','afridi','dil'],'Branch':['Mech','Mech','CSE','CSE','CSE','EEE','EEE','EEE','IT','IT']})
print('Original DataFrame1\n',details)
fees_status=pd.DataFrame({'ID':[102,102,103,104,105,106,107,108,109,110],'Pending':['5000','250','NIL','9000','15000','NIL','4500','1800','250','NIL']})
print('Original DataFrame2\n',fees_status)
print('Merged DataFrame\n',pd.merge(details,fees_status,on='ID'))

Original DataFrame1
     ID    Name Branch
0  101     ram   Mech
1  102    Mano   Mech
2  103     kio    CSE
3  104     rio    CSE
4  105    syed    CSE
5  106   riyaz    EEE
6  107     ash    EEE
7  108    Mahi    EEE
8  109  afridi     IT
9  110     dil     IT
Original DataFrame2
     ID Pending
0  102    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL
Merged DataFrame
     ID    Name Branch Pending
0  102    Mano   Mech    5000
1  102    Mano   Mech     250
2  103     kio    CSE     NIL
3  104     rio    CSE    9000
4  105    syed    CSE   15000
5  106   riyaz    EEE     NIL
6  107     ash    EEE    4500
7  108    Mahi    EEE    1800
8  109  afridi     IT     250
9  110     dil     IT     NIL