In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.211082
2011-01-05    3.201920
2011-01-07    0.591159
2011-01-08    0.228680
2011-01-10   -1.026924
2011-01-12   -0.298241
dtype: float64

In [15]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [17]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [19]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    1.356173
2000-01-02    1.036186
2000-01-03    0.165336
2000-01-04    0.337495
2000-01-05   -1.563296
                ...
2002-09-22   -0.319454
2002-09-23   -1.533624
2002-09-24   -1.064724
2002-09-25    0.180014
2002-09-26   -0.693559
Freq: D, Length: 1000, dtype: float64

In [21]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.289847
2001-01-02   -0.307999
2001-01-03    0.236988
2001-01-04    0.764400
2001-01-05    0.704343
                ...
2001-12-27    0.256525
2001-12-28    0.610938
2001-12-29   -1.460610
2001-12-30   -1.615502
2001-12-31    0.062061
Freq: D, Length: 365, dtype: float64

In [23]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.851587
2001-05-02   -1.762627
2001-05-03    0.503244
2001-05-04   -0.810342
2001-05-05   -1.297516
2001-05-06    0.687680
2001-05-07    0.411226
2001-05-08    1.593642
2001-05-09    0.564297
2001-05-10    0.376630
2001-05-11   -1.460054
2001-05-12   -0.049188
2001-05-13   -0.363163
2001-05-14   -0.765740
2001-05-15   -1.294839
2001-05-16    0.269961
2001-05-17    0.187452
2001-05-18   -1.015090
2001-05-19    0.126708
2001-05-20   -1.993463
2001-05-21    0.829056
2001-05-22    0.448352
2001-05-23   -0.097762
2001-05-24    1.048841
2001-05-25    1.598936
2001-05-26    0.655438
2001-05-27    1.233610
2001-05-28   -0.043733
2001-05-29   -1.467706
2001-05-30   -0.712343
2001-05-31   -0.577810
Freq: D, dtype: float64

In [25]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    1.356173
2000-01-02    1.036186
2000-01-03    0.165336
2000-01-04    0.337495
2000-01-05   -1.563296
Freq: D, dtype: float64

In [27]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.404486
2000-02-02   -0.325441
2000-02-03    0.286684
2000-02-04   -1.141305
2000-02-05   -0.286267
2000-02-06   -0.907107
2000-02-07    0.418381
2000-02-08    0.193501
2000-02-09    1.354030
2000-02-10   -0.199939
2000-02-11   -0.446291
2000-02-12    0.282405
2000-02-13    0.389789
2000-02-14    1.743205
2000-02-15   -1.615455
Freq: D, dtype: float64

In [31]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.739503
2000-09-27    0.227693
2000-09-28   -1.244815
2000-09-29    0.550145
2000-09-30    0.822462
                ...
2002-09-22   -0.319454
2002-09-23   -1.533624
2002-09-24   -1.064724
2002-09-25    0.180014
2002-09-26   -0.693559
Freq: D, Length: 731, dtype: float64