In [21]:

import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                 'Category':['A','B','C','A','B','C'],
                 'Value':np.random.randint(1,5,size=6),
                 'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group and Aggregrate with one column:\n",df1)

 Original DataFrame:
       Name Category  Value  Score
0    Alice        A      2     95
1      Bob        B      3     60
2  Charlie        C      1     82
3    Alice        A      4     65
4      Bob        B      3     69
5  Charlie        C      3     99

 Group and Aggregrate with one column:
       Name  Value
0    Alice      6
1      Bob      6
2  Charlie      4

In [25]:

import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                 'Category':['A','B','C','A','B','C'],
                 'Value':np.random.randint(1,5,size=6),
                 'Score':np.random.randint(60,100,size=6)})
print("\n Original DataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group and Aggregrate with one column:\n",df1)

 Group and aggregate with two column sum:
       Name  Value  Score
0    Alice      6    160
1      Bob      6    129
2  Charlie      4    181

In [31]:
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\n Group and Aggregrate with one column:\n",df3)

 Group and Aggregrate with one column:
       Name  Value
0    Alice      6
1      Bob      6
2  Charlie      4

In [35]:
df4=df.groupby('Name').agg({'Value':['sum','mean','min','max'],
                            'Score':['sum','mean']})
print("\n Group by name and multiple aggregation:\n",df4)

 Group by name and multiple aggregation:
         Value              Score
          sum mean min max   sum  mean
Name
Alice       6  3.0   2   4   160  80.0
Bob         6  3.0   3   3   129  64.5
Charlie     4  2.0   1   3   181  90.5

In [43]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and count\n",df5)

 Group and count
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [45]:
df6=df.groupby(('Name')).count()
print("\n Group and Count:\n",df6)

 Group and Count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [47]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  Value
0    Alice      2
1      Bob      3
2  Charlie      1

In [53]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
         Category  Value  Score
Name
Alice          A      2     95
Bob            B      3     60
Charlie        C      1     82

In [55]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       Name  Value
0    Alice      4
1      Bob      3
2  Charlie      3

In [59]:
df10=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
         Category  Value  Score
Name
Alice          A      4     65
Bob            B      3     69
Charlie        C      3     99

In [63]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display size:\n",df11)

 Group and display size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [65]:
df12=df.groupby(('Name')).size()
print("\n Group and display size:\n",df12)

 Group and display size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64