<a href="https://colab.research.google.com/github/Syedriyaz13/PPML_numpy/blob/main/Data_cleaning_and_preparation_DataFrame(230901107).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame with NaN\n",df)
print("\n")
print("dropped DataFrame",df.dropna())
print("\n")

original DataFrame with NaN
         one       two     three
a  0.417788  1.172836 -0.068656
b       NaN       NaN       NaN
c  0.850288 -0.046430  0.343537
d -0.412017  0.738731 -0.545427
e       NaN       NaN       NaN
f -0.117912  0.740499  0.398739


dropped DataFrame         one       two     three
a  0.417788  1.172836 -0.068656
c  0.850288 -0.046430  0.343537
d -0.412017  0.738731 -0.545427
f -0.117912  0.740499  0.398739

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame with DataFrame:\n",df)
print("\n")
print("dropped DataFrame",df.fillna(0))
print("\n")

original DataFrame with DataFrame:
         one       two     three
a  2.147180 -0.608084  0.923663
b       NaN       NaN       NaN
c  0.867547 -1.495702  0.700763
d -0.144831  1.471568 -0.941668
e       NaN       NaN       NaN
f -0.464970  0.483076 -0.023353


dropped DataFrame         one       two     three
a  2.147180 -0.608084  0.923663
b  0.000000  0.000000  0.000000
c  0.867547 -1.495702  0.700763
d -0.144831  1.471568 -0.941668
e  0.000000  0.000000  0.000000
f -0.464970  0.483076 -0.023353

In [ ]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print("original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

 DataFramev with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [ ]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("original DataFrame:\n" ,df)
print("\n NaN-with True fill:\n")
print(df['one'].isnull())

original DataFrame:
         one       two     three
a -0.059474  0.396491 -0.037279
b       NaN       NaN       NaN
c  0.684628 -0.903069 -0.167954
d  0.864095  0.378199  1.164233
e       NaN       NaN       NaN
f -0.245117 -0.973164 -0.466334

 NaN-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [ ]:
print("NaN filled with background values:\n")
print(df.fillna(method="bfill"))

NaN filled with background values:

        one       two     three
a -0.059474  0.396491 -0.037279
b  0.684628 -0.903069 -0.167954
c  0.684628 -0.903069 -0.167954
d  0.864095  0.378199  1.164233
e -0.245117 -0.973164 -0.466334
f -0.245117 -0.973164 -0.466334

<ipython-input-7-f45a4b019cec>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))