In [7]:
import pandas as pd
#assign data
data={'Name':['sai','yuva','poo','savi','ruba','raj','ravi'],
      'Age':['20','18','19','20','18','17','19'],
      'Gender':['M','F','M','F','F','M','M'],
      'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("original dataframe:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
        df=df.replace(to_replace='NaN',value=avg)
print("\n Replacing NaN with a average marks:\n",df)

original dataframe:
    Name Age Gender Marks
0   sai  20      M    90
1  yuva  18      F    76
2   poo  19      M   NaN
3  savi  20      F    74
4  ruba  18      F    65
5   raj  17      M   NaN
6  ravi  19      M    71

 Replacing NaN with a average marks:
    Name Age Gender  Marks
0   sai  20      M   90.0
1  yuva  18      F   76.0
2   poo  19      M   90.0
3  savi  20      F   74.0
4  ruba  18      F   65.0
5   raj  17      M   90.0
6  ravi  19      M   71.0

/var/folders/w2/jykwyxmx79n6905fy_4s9glr0000gp/T/ipykernel_2027/1465525308.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace(to_replace='NaN',value=avg)

In [11]:
#filter top scoring students
df=df[df['Marks']>=75]
#remove age row
df=df.drop(['Age'],axis=1)
#display data
print("\n filtering and dropping function:\n",df)

 filtering and dropping function:
    Name Gender  Marks
0   sai      M   90.0
1  yuva      F   76.0
2   poo      M   90.0
5   raj      M   90.0

In [15]:
one=pd.DataFrame({'name':['sai','raj','yuva','ram','sam'],
                  'subject-id':['sub1','sub2','sub3','sub4','sub5'],
                  'Marks-scored':[98,90,92,85,89]},
                 index=[1,2,3,4,5])
two=pd.DataFrame({'Name':['sanju','ravi','shree','niki','rahul'],
                  'subject-id':['sub2','sub3','sub4','sub6','sub5'],
                  'Marks-scored':[73,80,85,98,79]},
                 index=[1,2,3,4,5])
print("\n original DataFrame 1:\n",one)
print("\n original DataFrame 2:\n",two)
print(pd.concat([one,two]))

 original DataFrame 1:
    name subject-id  Marks-scored
1   sai       sub1            98
2   raj       sub2            90
3  yuva       sub3            92
4   ram       sub4            85
5   sam       sub5            89

 original DataFrame 2:
     Name subject-id  Marks-scored
1  sanju       sub2            73
2   ravi       sub3            80
3  shree       sub4            85
4   niki       sub6            98
5  rahul       sub5            79
   name subject-id  Marks-scored   Name
1   sai       sub1            98    NaN
2   raj       sub2            90    NaN
3  yuva       sub3            92    NaN
4   ram       sub4            85    NaN
5   sam       sub5            89    NaN
1   NaN       sub2            73  sanju
2   NaN       sub3            80   ravi
3   NaN       sub4            85  shree
4   NaN       sub6            98   niki
5   NaN       sub5            79  rahul